.about {
  display: flex;
  background-color: #0A2850;
  overflow: hidden;
  box-sizing: border-box;
  color: #ffff;
  z-index: 0;
  position: relative;
}

.about__title {
  margin-top: 100px;
  margin-left: 80px;
  max-width: 251px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  margin-top: 119px;
  margin-right: 80px;
  margin-bottom: 173px;
  margin-left: auto;
  max-width: 660px;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  z-index: 2;
}

.about__paragraph {
  padding: 0;
  margin: 0 0 20px 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50px;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 1;
}