.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  justify-content:space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin-left: 30px;
  margin-top: 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  padding: 0;
  list-style-type: none;
  margin-top: 30px;
  margin-right: 80px;
  font-family:"Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: black;
}

.nav__link:hover {
  color: #1f69c9;
  cursor: pointer;
}

.header__title {
  max-width: 729px;
  margin-left: 80px;
  margin-top: 183px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin-top: 28px;
  margin-left: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 1;
}

.header__paragraph {
  margin-top: auto;
  margin-bottom: 0;
  font-family:"Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}